# Hypothesis Testing

## Q1.cutlet

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
data = pd.read_csv('Cutlets.csv')

In [3]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
x = data.iloc[:,0]
y = data.iloc[:,1]

In [5]:
from scipy.stats import ttest_ind
statistic,pvalue=ttest_ind(x,y)
print('statistics is {}\n pvalue is {}'.format(statistic,pvalue))

statistics is 0.7228688704678063
 pvalue is 0.4722394724599501

In [6]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0], data.iloc[:,1])

F_onewayResult(statistic=0.5225394038913932, pvalue=0.47223947245995734)

Since p values is more than alpha i.e (0.05) hence null hypothesis

INFERENCE-There is no significant differnce in the diameters of Unit A an Unit B.

## Q2.labTAT

In [7]:
lab = pd.read_csv('LabTAT.csv')

In [8]:
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [31]:
chi_square_tscore,pval,df,exp_table = stats.chi2_contingency(lab)
print('Chi-square score is {}.\np value is {}.\ndf is {}.'.format(chi_square_tscore,pval,df))

Chi-square score is 450.67265867639776.
p value is 0.0005507538384061118.
df is 357.

In [10]:
import scipy.stats as stats
stats.f_oneway(lab.iloc[:,0], lab.iloc[:,1],lab.iloc[:,2], lab.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Since p values is less than alpha i.e (0.05) hence alternative hypothesis

INFERENCE-There is  difference in average TAT among the different laboratories

## Q3.Buyer Ratio

In [11]:
Buyer = pd.read_csv('BuyerRatio.csv')

In [12]:
Buyer.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [13]:
buyer = Buyer.iloc[:,1:]

In [14]:
buyer.head()

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [15]:
chi_square_tscore,pval,df,exp_table = stats.chi2_contingency(buyer)
print('Chi-square score is {}.\np value is {}.\ndf is {}.\nExpected table is \n{}'.format(chi_square_tscore,pval,df,exp_table))

Chi-square score is 1.595945538661058.
p value is 0.6603094907091882.
df is 3.
Expected table is
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [16]:
import scipy.stats as stats
stats.f_oneway(Buyer.iloc[:,1], Buyer.iloc[:,2],Buyer.iloc[:,3], Buyer.iloc[:,4])

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)

Since p value is greater than alpha i.e (0.05) hence null hypothesis

INFERENCE-male-female buyer rations are not similar across regions.

## Q4.Customer Order

In [17]:
cust = pd.read_csv('Costomer+OrderForm.csv')

In [18]:
cust.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [19]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [20]:
data1=cust.copy()

In [21]:
data1.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [22]:
labelencoder = LabelEncoder()
for x in data1.columns:
    data1.loc[: ,x] = labelencoder.fit_transform(data1.loc[:,x])

In [30]:
data1.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [23]:
chi_square_tscore,pval,df,exp_table = stats.chi2_contingency(data1)
print('Chi-square score is {}.\np value is {}.\ndf is {}.\nExpected table is \n{}'.format(chi_square_tscore,pval,df,exp_table))

Chi-square score is 112.74730231885849.
p value is 1.0.
df is 897.
Expected table is
[[0.74793008 0.73689052 0.7424103  0.77276909]
 [0.74793008 0.73689052 0.7424103  0.77276909]
 [0.49862006 0.49126035 0.4949402  0.51517939]
 ...
 [0.74793008 0.73689052 0.7424103  0.77276909]
 [0.99724011 0.9825207  0.9898804  1.03035879]
 [0.49862006 0.49126035 0.4949402  0.51517939]]

Since p values is greater than alpha i.e (0.05) hence null hypothesis

INFERENCE-The  defective %  varies by centre.