# Chapter 1- Hello World

## 1[a] Hello world

In [2]:
print("Welcome")

Welcome

## 1[b] Create a Variable

In [3]:
numbers = ["Allu", "Arjun",123,1234]

In [4]:
print(numbers)

['Allu', 'Arjun', 123, 1234]

### types of variables
    1. int    - Does not has decimal value Ex: 12, 2578
    2. float  - It has decimal value Ex: 12.00, 85.68
    3. string - Anything which is enclosed within quotes Ex: "Name" "123" "12.34"

# Chapter 2 Stings and sting method

# 2[a] What is string?

In [5]:
#anything which is enclosed within quotes.

In [6]:
learner_names = "Swapnil"
learner_names

'Swapnil'

In [7]:
type(learner_names)

str

In [8]:
len(learner_names)

7

In [9]:
target_score = 345
print(target_score)
print(type(target_score))

345
<class 'int'>

In [10]:
batting_average = 139.5
type(batting_average)

float

#

## 2[b] Concatination - Indexing and slicing

### To merge two or more strings in single object is said to be concatination ( + operator is used )

In [11]:
fname = "Aswathy"
lname = "palathingal"
batch = "DS_11am_batch"
print(fname + " " + lname + "is my new learner" + " " + batch + ".")

Aswathy palathingalis my new learner DS_11am_batch.

In [12]:
name = "naresh Chandra"
len(name)

14

In [14]:
#index number  in python always starts from 0
name[7:14]

'Chandra'

## 2[c] Manipulating strings and methods

### Methods/Function - Both are same, Methods are something which ends with ( )

In [23]:
name = "swapnilß"
sname = "jagdale"

#### Upper() Uppercases all characters

In [24]:
str.upper(sname)

'JAGDALE'

##### Capitalize() method converts first character of a string to uppercase letter and lowercases all other characters

In [13]:
str.capitalize(name)

'Swapnilß'

#### casefold() method returns a string where all the characters are lower case and removes all cases ex. ß

In [14]:
str.casefold(name)

'swapnilss'

In [88]:
name = "swapnil"

In [89]:
str.lower(name)

'swapnil'

In [15]:
name = input("name: ")
print("here is first letter ",name[0:1])

name:
here is first letter

## 2[d] Interact with user input

In [3]:
name = input("username: ")
len(name)

username: swapnil

7

In [19]:
#get name from user and make all the aplhabets in lower letter
name = input("enter your name: ")
print(name.lower())
print(name.casefold())
print(name.upper())
print("output is {} , {}, {}".format(name.lower(),name.casefold(),name.upper()))

enter your name: swapnil
swapnil
swapnil
SWAPNIL
output is swapnil , swapnil, SWAPNIL

## 2[e] Get and print the first letter of the username

In [10]:
username = input("enter the username: ")
#username[0]
print("first letter of username ",username[0])

enter the username: swapnil
first letter of username  s

## 2[f] Working with strings and numbers

* input is a keyword used for getting input from user (bydefault input is taken as string)

In [15]:
#product of 2number, user preference
n1 = input("enter first no.: ")
n2 = input("enter second no.: ")
product = float(n1)*float(n2)
print("the product of "+n1+ " and "+n2+ " is "+str(product)+".")

enter first no.: 34
enter second no.: 234
the product of 34 and 234 is 7956.0.

In [13]:
type(product)

float

* to get input in .int or float

In [10]:
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))
product = n1*n2
print("Product of given numbers: ",product)

Enter first number: 5
Enter second number: 2
Product of given numbers:  10.0

## 2[g] Streaming your print statements

* .format is used to add multiple variables in a single line with help of '{}'

In [3]:
name = "Swapnil"  #str
batch = 11 #int
print("{} is from my data science {} am batch. ".format(name,batch))

Swapnil is from my data science 11 am batch.

In [18]:
name = "swapnil"
batch = "datascience"
timing = "11am"
print("{} is a {} student from {} ".format(name,batch,timing))

swapnil is a datascience student from 11am

In [2]:
def diff_data(number,item,cost):
    return "There are {} {} cost {}.".format(number,item,cost)

In [4]:
diff_data(3,"chicken" ,200.90)

'there are 3 chicken cost 200.9.'

In [2]:
name = input('Name: ')
batch = input('Batch Time: ')
print(" {} is from my DataScience {} am batch. ".format(name,batch))

Name: swa
Batch Time: 2
 swa is from my DataScience 2 am batch.

* input is a keyword used for getting input from user (bydefault input is taken as string)

In [4]:
name = input("Name: ")
batch = input("Batch time: ")
print('{} is from Datascience {} am batch.'.format(name,batch))

Name: swapnil
Batch time: 11
swapnil is from Datascience 11 am batch.

## 2[h] Find a string in a string

* Used for find and replacing {find and replace are keywors}

In [17]:
comment = "Jupyter notebook is a good learning platform."

In [19]:
comment.find("good")

22

In [20]:
comment.replace("good","__")

'Jupyter notebook is a __ learning platform.'

In [22]:
mail = "You have won a $1000 lottery."
mail

'You have won a $1000 lottery.'

In [23]:
mail.replace("$1000","")

'You have won a  lottery.'

# Chapter 3 - Numbers in Python

## 3[a] Integers and floating point numbers

In [36]:
team_goal = 4
avg_marks = -7.89

In [37]:
type(team_goal)

int

In [38]:
type(avg_marks)

float

In [40]:
print(abs(avg_marks))   #abs : Absolute value is nothing but its take negative value as positive.

7.89

# Chapter 4 - Functions and loops

## 3 types of functions:
    * Predefined functions  : Is something which gets installed while you install python or jupyter notebook
    * Userdefined functions : Is a sequence of methods which repeated sequencially i.e step-by-step, one after another.
    * Anonymous functions   : Means that a function is without a name. As we already know that the def keyword is used to                                  define a normal function in Python.
                                Similarly,the lambda keyword is used to define an anonymous function in Python

## 4[a] Write your own functions

In [41]:
def chicken_shop():          #def keyword is used to define a normal function in Python.
    print("250g of chicken")
    print("Ginger garlic paste")
    print("4 eggs")

In [42]:
chicken_shop()

250g of chicken
Ginger garlic paste
4 eggs

In [14]:
def margin():
    n1 = input("enter no. of chicken ")
    total = float(n1) * 200
    print("Your total cost for ",total )

In [15]:
margin()

enter no. of chicken 3
Your total cost for  600.0

### Positional Argument

In [20]:
def add_numbers(num1,num2): #Arguments
    print("Product of two numbers",num1 + num2)

In [21]:
add_numbers(7,5)  #parameters

Product of two numbers 12

In [23]:
add_numbers(5.3,5.8)

Product of two numbers 11.1

In [ ]:
# Get three datatypes and create your own function which returns some meaningful statement.

In [24]:
def user_details(name,age,weight):
    return"Your name is {} and you are {} years old and you weight {} kg.".format(name,age,weight)

In [25]:
user_details("Alex",26,60)

'Your name is Alex and you are 26 years old and you weight 60 kg.'

## Default arguments

In [12]:
def get_emp_details(name,age,salary,company = 'Google'):
    print("Name: ",name)
    print("Age: ",age)
    print("Salary: ",salary)
    print("Company:",company)

In [14]:
get_emp_details(age = 50, salary = 35000, name = "alex")

Name:  alex
Age:  50
Salary:  35000
Company: Google

In [19]:
get_emp_details('Harry',25,45000)

Name:  Harry
Age:  25
Salary:  45000
Company: Google

## Variable length argument

In [20]:
def get_emp_details(name,age,salary,*company ):              # (* is used to pass multiple parameters under one argument)
    print("Name: ",name)
    print("Age: ",age)
    print("Salary: ",salary)
    print("Company:",company)
get_emp_details('Ryan',36,45000,"micro","google","IBM")

Name:  Ryan
Age:  36
Salary:  45000
Company: ('micro', 'google', 'IBM')

In [23]:
get_emp_details('Alex',37,45600,"Techno","Expo","IBM")

Name:  Alex
Age:  37
Salary:  45600
Company: ('Techno', 'Expo', 'IBM')

In [25]:
def get_emp_details(name,age,salary,**company ):  # (** is used to pass multiple parameters inside parameter under one argument)
    print("Name: ",name)
    print("Age: ",age)
    print("Salary: ",salary)
    print("Company:",company)
get_emp_details('Ryan',36,45000,company1 = "micro",company2= "google",company3= "IBM")

Name:  Ryan
Age:  36
Salary:  45000
Company: {'company1': 'micro', 'company2': 'google', 'company3': 'IBM'}

## 4[b] Run in circles

In [26]:
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# Here we want output one below another then so we use 'for' statement 
for i in a: 
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
# we use [range] when we wanr to print a in-between range ex; always place one number extra from what we want as it start from 0
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [39]:
# here we want 2 numbers diffrence between two numbers
for i in range(1,11,2):
    print(i)

1
3
5
7
9

## 4[c] Definations with for loop

In [41]:
def get_name(name):  # where ever we need a loop to be performed we use 'for loop'
    for i in name:
        print(i)
    return"Splitting is completed"

get_name("Harry")

H
a
r
r
y

'Splitting is completed'

# Chapter 5 - Coditional Logic

## 5[a] Comparing values using arithimatic operators

In [43]:
# In python fuctions of arithimatic operators are already stored ex:

In [44]:
1 == 5

False

In [45]:
"Zack" == "zack"

False

In [47]:
1 != 5     # '!=' Means not epual

True

In [49]:
1=='1'  #anything inside quotes {""''} means string

False

## 5[b] Add some logic

### AND operator
        TT ---> T
        
 ###  OR operator
         FF ---> F

In [50]:
a = 5
b = 10
c = 15

a>b , c>a , b<c

(False, True, True)

In [53]:
# AND operator gives true value only if both are true value or else it will return false
a>b and c>a

False

In [57]:
# OR operator gives true value if their is a single true value or if there are all false then it will return false
a>b or c>a

True

In [59]:
#IN Operator - Checks weather the given word is present in my paragraph (it is case-sensitive)
trainer_feedback = "Alex is a good Mentor"
"Mentor" in trainer_feedback

True

In [63]:
#NOT in Operator- False if statement given is True
"good" not in trainer_feedback

False

## 5[c] Control the flow of your program

In [73]:
# simple IF-Else statement

user_input = input("Type something ")

if len(user_input)<5:
    print("Your Input is less than 5 characters")
    
else:
    print("Your Input is Greater than 5 characters")

Type something Alex
Your Input is less than 5 characters

In [75]:
#Nested IF Statement

user_input = input("Type something ")

if len(user_input)<5:
    print("Your Input is less than 5 characters")
    
elif len(user_input)>5:
    print("Your Input is Greater than 5 characters")
    
else:
    print("Your input is exact 5 characters")

Type something Alexy
Your input is exact 5 characters

## 5[d] Challenge to find factors of a number

In [ ]:
# For ex if input= 10 , output= 1,2,5,10.

In [84]:
num1 = int(input("Enter number to find factors of "))

for i in range(1,num1+1):
    if num1 % i == 0:
        print(i)
print("These are factors of ",num1)

Enter number to find factors of 10
1
2
5
10
These are factors of  10

## 5[e] Break out of the pattern

In [1]:
#Break the loop
#while true :- it gets executed until the value gets true
while True:
    get_input= input("Tpye q or Q for exit ")
    if get_input == 'q':
        break

Tpye q or Q for exit Q
Tpye q or Q for exit q

In [8]:
while True:
    get_input= input("Tpye any vowels to exit ")
    if get_input == 'a' and 'e' and 'i' and 'o' and 'u':
        break

Tpye any vowels to exit w
Tpye any vowels to exit a

In [7]:
#Continue inside loop :- it returns the control to the beginning of the while loop, it does not break until fully executed 
for i in range(1,10):     #'%' Modulus :Gives remainder of the division
    if i%3 == 0:
        continue
    print(i)

1
2
4
5
7
8