# Pyhton Data structures
There are 4 pthon data structures
* list
* sets
* tupels
* dictionary

## 1. List

In [ ]:
* Heterogenuos Datastructure
* 1 dimensional 
* Allows Duplicate values
* Mutable - The entries are changeable at anytime
* slicable because list is indexable

In [4]:
scores = [] #empty list

In [9]:
scores

[]

In [8]:
type(scores)

list

In [11]:
scores = [780,45,98,214] #Homogenous values ie ony numerical values
scores

[780, 45, 98, 214]

In [13]:
names = ["alex",548,"harry",78.54] #Heterogenous means it can take float int string
names

['alex', 548, 'harry', 78.54]

In [15]:
names = ["alex",548,"harry",78.54,"alex","harry",78.54] #Allows duplicate values
names

['alex', 548, 'harry', 78.54, 'alex', 'harry', 78.54]

In [18]:
names[0] ="Robby"  #mutable can change values any time

In [19]:
names

['Robby', 548, 'harry', 78.54, 'alex', 'harry', 78.54]

In [20]:
names[2:]    #indexable

['harry', 78.54, 'alex', 'harry', 78.54]

In [21]:
#names[0:5] #positive indexing
names[:-2]  #negative indexing

['Robby', 548, 'harry', 78.54, 'alex']

In [23]:
names[-5:]

['harry', 78.54, 'alex', 'harry', 78.54]

In [26]:
names.append("sandra")  # we can add values at anytime

In [27]:
names

['Robby', 548, 'harry', 78.54, 'alex', 'harry', 78.54, 'sandra', 'sandra']

# 2. Sets

* 1 Dimensional datastructures
* Heterogeneous
* Duplicate values Not Allowed
* Not slicable because not indexable
* Mutable - because values can be changed anytime

In [3]:
empty_set= set() #empty set syntax
type(empty_set)

set

In [4]:
temp={45,85,78,59}

In [5]:
temp

{45, 59, 78, 85}

In [6]:
type(temp)

set

In [7]:
temp={45,85,78,59,"Swapnil",45,85,78} # Heterogenous
# Duplicate values not allowed

In [8]:
temp

{45, 59, 78, 85, 'Swapnil'}

In [9]:
temp[0] #not indexable  
temp[0:2] # not slicable

TypeError: 'set' object is not subscriptable

In [10]:
temp.add(5)

In [11]:
temp

{45, 5, 59, 78, 85, 'Swapnil'}

# 3. Tuple

* 1 Dimentional datastructure
* Heterogenous
* Allows duplicate values
* Slicable as it is indexable
* Not mutable - values once got assigned to a tuple variable, it cannot be changed in future. We have to create a new tuple variable.

In [43]:
empty_tuple = ()
type(empty_tuple)

tuple

In [12]:
time = (78,85,964,2.5,36.4,"alex",78,85,964,2.5,36.4,"harry") # Heterogenous 
                                                                # Allows duplicate values
time

(78, 85, 964, 2.5, 36.4, 'alex', 78, 85, 964, 2.5, 36.4, 'harry')

In [13]:
time[4]    # indexable

36.4

In [14]:
time[4:9]  #slicable

(36.4, 'alex', 78, 85, 964)

In [15]:
time[4]= (2.5)   # Not mutable

TypeError: 'tuple' object does not support item assignment

# 4. Dictionary(dict) - Key:Value pair

* 2 Dimentional Datastructure
* Heterogenous
* It can duplicate values but not recommended to have duplicate keys (duplicate keys not allowed)
* Not slicable, because not indexable

In [52]:
empty_dict = {}
type(empty_dict)

dict

In [57]:
shopping_cart = {"Tomato":5,
                 "Oats": 1,
                 "Almonds": 0.5,
                 "Black Raisins":0.5,
                 "Oats":3}       # Duplicate keys not allowed
shopping_cart

{'Tomato': 5, 'Oats': 3, 'Almonds': 0.5, 'Black Raisins': 0.5}

In [60]:
shopping_cart.keys()

dict_keys(['Tomato', 'Oats', 'Almonds', 'Black Raisins'])

In [61]:
shopping_cart.values()

dict_values([5, 3, 0.5, 0.5])

In [11]:
team_sequence = {"Names":['Dhoni','virat','sachin'],
               "Age":[45,30,50],
               "Position":['W-keeper','Batting','Batting']}

In [15]:
team_sequence

{'Names': ['Dhoni', 'virat', 'sachin'],
 'Age': [45, 30, 50],
 'Position': ['W-keeper', 'Batting', 'Batting']}

In [16]:
# Two dimensional datastructure
import pandas as pd
pd.DataFrame(team_sequence)

    Names  Age  Position
0   Dhoni   45  W-keeper
1   virat   30   Batting
2  sachin   50   Batting